<section class="event-container">
	<div class="event-container-inside">
		<div class="event-wrapper">
			<article class="ng-trans ng-trans-fade-left" data-ng-repeat="event in events | filter:filter | limitTo:600 ">
				<a ng-href="#/event/{{ event._id }}">
					<section class="event-item">
						<h2 class="event-item-name">{{event.name}}</h2>
						<p class="event-item-date">{{event.date}}</p>
						<p class="event-item-desc">{{event.description}}</p>
						<ul class="event-item-tag-list">
							<li class="event-item-tag" data-ng-repeat="tag in event.tags | limitTo:4">
								{{tag}}
							</li>
						</ul>
					</section>
				</a>
			</article>
		</div>
	</div>
</section>